
<div class="site-wrapper">
    <%= render "shared/header"%>
    <%= render 'shared/hero' %>
    <%= render 'shared/about' %>
    <%= render 'shared/stack_card' %>
    <%= render 'shared/projects_section' %>
    <%= render 'shared/footer' %>
</div>